<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Blogs - MyBlog</title>
  
  <!-- CSS Files -->
  <link rel="stylesheet" href="/stylesheets/style2.css">
  <link rel="stylesheet" href="/stylesheets/animations.css">
  <link rel="stylesheet" href="/stylesheets/navbar.css">
  <link rel="stylesheet" href="/stylesheets/contact.css">



</head>
<body class="page-blogs">
  <div class="page-wrapper">
    <%- include("partials/navbar") %>

    <main class="page-content">
      <div class="container">
        <% if(blogs.length > 0){ %>
          <h2 class="section-title">Latest Blogs</h2>
          <div class="blog-list">
            <% blogs.forEach(blog => { %>
              <div class="blog-card" id="blog-<%= blog._id %>">
                <!-- <div class="card-image">
                  <img src="https://source.unsplash.com/400x250/?blog,<%= blog.title %>" alt="<%= blog.title %>">
                </div> -->
                <div class="card-content">
                  <h3><%= blog.title %></h3>
                  <p class="blog-meta">By <%= blog.author %> | <%= blog.date.toDateString() %></p>
                  <p class="blog-snippet"><%= blog.content.substring(0, 150) %>...</p>
                  <div class="blog-actions">
                    <button class="read-more" onclick="openModal('<%= blog._id %>')">Read More</button>
                  </div>
                </div>
              </div>

              <!-- Modal -->
              <div class="modal" id="modal-<%= blog._id %>">
                <div class="modal-content">
                  <span class="close-btn" onclick="closeModal('<%= blog._id %>')">&times;</span>
                  <h2><%= blog.title %></h2>
                  <p class="blog-meta">By <%= blog.author %> | <%= blog.date.toDateString() %></p>
                  <p><%= blog.content %></p>
                  <div class="modal-actions">
                    <a href="/blogs/<%= blog._id %>/edit" class="btn-edit">Edit</a>
                    <form action="/blogs/<%= blog._id %>/delete" style="display:inline;">
                      <button type="submit" class="btn-delete">Delete</button>
                    </form>
                  </div>
                </div>
              </div>
            <% }) %>
          </div>
        <% } else { %>
          <h2 class="no-blogs">No Blogs Available 😔</h2>
        <% } %>
      </div>
    </main>

    <%- include("partials/footer") %>
  </div>
  <script src="/javascripts/Blog.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <!-- <script src="/javascripts/animations.js"></script> -->

</body>

</html>
